<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout::head('ログイン')"></head>
<body>

<div class="container mt-5">
    <h2>ログイン</h2>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label>ユーザー名</label>
            <input type="text" name="username" class="form-control">
        </div>

        <div class="mb-3">
            <label>パスワード</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">ログイン</button>
    </form>
</div>

</body>
</html>