<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout::head"></head>
<body data-page="login">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ログイン</a>
  </div>
</nav>

<div class="container mt-5">
    <form th:action="@{/login}" th:object="{loginViewDto}" method="post">
         <div class="alert alert-danger"
             th:if="${error}"
             th:text="${error}">
        </div>
    
        <div class="mb-3">
            <label>ユーザー名</label>
            <input type="text"
                th:field="*{username}"
                class="form-control">
        </div>

        <div class="mb-3">
            <label>パスワード</label>
            <input type="password"
                th:field="*{password}"
                class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">ログイン</button>
    </form>
</div>

</body>
</html>